.body {
  margin: 0.5rem;
  max-height: calc(100vh - 100px);
  overflow: scroll;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  color: var(--color)
}

.proper {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0.8rem 0.5rem;
}

.proper .right {
  position: absolute;
  right: 10px;
  text-align: end;
}

h3 {
  margin-top: 20px !important;
  margin-bottom: 8px !important;
  font-family: "Alegreya Sans SC", "Rubik", "Poppins", sans-serif;
}

