:root,
.light {
  --color: #111;
  --blue: #5A78CB;
  --theme-color: #5985D5;
  --bg: #fff;
  --sec-color: #333;
  --inverted-color: #fff;
  --white: #fff;
  --black: #000;
  --sec-bg: #EEE;
}


.blue {
  --color: #fff;
  --blue: #5A78CB;
  --bg: #04081C;
  --sec-color: #eee;
  --inverted-color: #111;
  --white: #fff;
  --black: #000;
  --sec-bg: #141830;
}


.dark {
  --color: #fff;
  --blue: #5A78CB;
  --bg: #222;
  --sec-color: #eee;
  --inverted-color: #111;
  --white: #fff;
  --black: #000;
  --sec-bg: #2B2B2B;
}


.black {
  --color: #fff;
  --blue: #5A78CB;
  --bg: #222;
  --sec-color: #eee;
  --inverted-color: #111;
  --white: #fff;
  --black: #000;
  --sec-bg: #000;
}


.green {
  --color: #fff;
  --blue: #5A78CB;
  --bg: #3C815B;
  --sec-color: #eee;
  --inverted-color: #111;
  --white: #fff;
  --black: #000;
  --sec-bg: #559E75;
}