:root,
.light {
  --color: #111;
  --blue: #5A78CB;
  --theme-color: #4A6AA4;
  --bg: #fff;
  --sec-color: #333;
  --inverted-color: #fff;
  --white: #fff;
  --black: #000;
  --sec-bg: #EEE;
}


.blue {
  --color: #fff;
  --blue: #5A78CB;
  --bg: #1C2157;
  --theme-color: #4A6AA4;
  --sec-color: #eee;
  --inverted-color: #111;
  --white: #fff;
  --black: #000;
  --sec-bg: #2A328A;
}


.dark {
  --color: #fff;
  --blue: #5A78CB;
  --bg: #222;
  --sec-color: #eee;
  --inverted-color: #111;
  --white: #fff;
  --black: #000;
  --sec-bg: #555555;
  --theme-color: #29307E;
}