:root,
.light {
  --color: #111;
  --blue: #5a78cb;
  --theme-color: #5985d5;
  --bg: #fff;
  --sec-color: #333;
  --inverted-color: #fff;
  --white: #fff;
  --black: #000;
  --sec-bg: #eee;
}

.blue {
  --color: #fff;
  --blue: #5a78cb;
  --bg: #001f2b;
  --sec-color: #eee;
  --inverted-color: #111;
  --white: #fff;
  --black: #000;
  --sec-bg: #00415a;
}

.dark {
  --color: #fff;
  --blue: #5a78cb;
  --bg: #222;
  --sec-color: #eee;
  --inverted-color: #111;
  --white: #fff;
  --black: #000;
  --sec-bg: #2b2b2b;
}

.black {
  --color: #fff;
  --blue: #5a78cb;
  --bg: #222;
  --sec-color: #eee;
  --inverted-color: #111;
  --white: #fff;
  --black: #000;
  --sec-bg: #000;
}

.green {
  --color: #fff;
  --blue: #5a78cb;
  --bg: #3c815b;
  --sec-color: #eee;
  --inverted-color: #111;
  --white: #fff;
  --black: #000;
  --sec-bg: #559e75;
}
